.topnav {
    overflow: hidden;
    max-width: fit-content;
    text-align: center;
    margin: auto;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.button {
    background-color: blanchedalmond;
    color: #04AA6D;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

/* psuedo-class when hovering over the button it will change state*/
.button:hover {
    background-color: powderblue;
}

/*psuedo-class when clicked the button will change state */
.button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}

.content {
    max-width: fit-content;
    margin: auto;
  }

.head {
    background-color: #04AA6D;
}

#pageTitle {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: bisque;
}

#business {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: burlywood;
}

#pageTitle {
    font-family: 'Whisper', cursive;
}

.landingPage {
    background-color: blanchedalmond;
    
}