.topnav {
    overflow: hidden;
    max-width: fit-content;
    text-align: center;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.button {
    
    background-color: blanchedalmond;
    color: #04AA6D;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

.button:hover {
    background-color: aliceblue;
}

.button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}
